@charset "ISO-8859-1";
body {
    font-family: Arial, sans-serif;
    background-image: url('../images/fuel.jpeg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    height: 100vh;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e0e0e0;
}
.input-container{
	text-align: center;
}

input[type="button"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px 20px;
    margin: 10px;
    align-items: center;
}

input[type="button"]:hover {
    background-color: #0056b3;
}